@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding: 0px;
    margin: 0px; 
    
}

/*first section*/

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin-left: -40px;
}

.right-header {
    display: flex;
    gap: 20px;
}

a,
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.secondary-text {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.first {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one {
    padding-bottom: 125px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.first-button {
    padding: 6px 36px;
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
}

.first-section {
    display: flex;
    margin-top: 75px;
    justify-content: space-between;
    align-items: center;
}

.left-first {
    display: flex;
    flex-wrap: wrap;
    width: 450px; 
}

.right-first {
   height: 225px;
   width: 500px;
   background-color: rgb(146, 146, 146);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* end of the first section*/
    
/* second section */

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 125px;

}

.images {
    display: flex;
    justify-content: center;
    text-align: center; 
    flex-wrap: wrap;
}

.second-header {
    font-size: 36px;
    font-weight: 900;
    color:  #1F2937;
    text-align: center;
}

.image-text {
    font-size: 18px;
    color: rgb(104, 104, 104);
    margin: 7px;
    width: 170px;
}

.object {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 12px;
    display: flex;
}
  
.image {
    width: 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
  
/* end of the second section */

/* third section */

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 100px;
    padding-bottom: 125px;
    
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 790px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0px 20px;
}

.quote-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: -2px;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 25px;
}

/* end of third section*/

/* fourth section */

.fourth {
    background-color: white;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.blue-section {
    background-color: #3882F6;
    color: white;
    padding: 50px 140px;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    width: 790px;
    margin: 0px 20px;
    gap: 30px;
}


.fourth-left {

}

.fourth-right {
   
    border-radius: 8px;
    color: #E5E7EB;
    background-color: #3882F6;
    border: 3px solid #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 36px;
    align-self: center;
}

.fourth-header {
    font-size: 24px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.fourth-text {
    padding: 0px;
    margin: 0px;
    color: #E5E7EB;
}

/* end fo fourth section */

/* footer */

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end of footer */

@media (max-width: 600px) {
    .blue-section {
        padding: 20px 40px;
    }
}