@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

/*first section*/

ul {
    list-style: none;
    display: flex;
}

.left-header {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a,
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 20px 0px;
}

.right-header {
    display: flex;
    gap: 20px;
}

.first {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    padding-bottom: 125px;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: -25px 0px;
}

.first-button {
    padding: 6px 36px;
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    margin-top: -10px;
}

.first-section {
    display: flex;
    margin-top: 75px;
}

.left-first {
    display: flex;
    flex-wrap: wrap;
    width: 450px; 
}

.right-first {
    margin-left: 45px;  
}

/* end of the first section*/
    
